---
title: "Data Services"
section: Data Hub
permalink: /datahub/
layout: page
search: true
description: "Data Services overview with support for data management, discovery, and research workflows at the library."
tags: data services; research data; data management
page_nav:
    parent:
    children:
        - /datahub/ai-basics.html
page_callout: 
    title: Workshops
    text: "The Data Hub partners with groups across campus to host sessions that develop the skills needed to work with data and conduct research."
    link: /events/
    link-text: Events Calendar
    color: pride-gold
page_resources:
    title: Resources
    links: 
        - text: Data Management Guide
          link: https://www.lib.uidaho.edu/services/data/data-management/
        - text: Geospatial Resources
          link: /find/geospatial/
        - text: Find Data
          link: /find/data.html
        - text: Inside Idaho
          link: https://insideidaho.org/
chat-widget: datahub
---

<div class="card my-2 border-huckleberry border-2 my-4">
	<div class="card-body">

		<h2>Data Hub: Geospatial and Data Sciences Support</h2>
		<p>The Data Hub Help Desk provides specialized support in the areas of <b>artificial intelligence</b>, <b>geographic information systems</b>, <b>data sciences</b>, <b>data analysis and visualization</b>, and <b>research data management</b>. Visit us in the <a href="{{ '/about/maps.html#first-floor' }}">Map Room (Library 107)</a>, chat online (icon in lower right), email <a href="mailto:lib-datahub@uidaho.edu">lib-datahub@uidaho.edu</a>, or call (208) 885-7724.</p>	
		<div class="alert alert-info">
			<h3 class="alert-heading h5"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16" aria-hidden="true"> <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/> </svg> Semester Hours</h3>
			<ul>
				<li>Librarian assistance is available at the Data Hub Help Desk: <strong>Monday - Thursday, 12pm - 3pm</strong>.</li>
				<li>CS course assistance is available during <a role="button" href="#" class="alert-link" data-bs-toggle="modal" data-bs-target="#csacModal">Computer Science Assistance Center hours</a>.</li>
				<li>The Data Hub space is available for use during normal Library hours - please be considerate to workshops, consultations, and other users.</li>
			</ul>
		</div>
		<div class="modal fade" id="csacModal" tabindex="-1" aria-labelledby="csacModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="csacModalLabel">CSAC Semester Hours at the Data Hub</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<table class="table table-hover">
							<tbody>
								<tr>
									<td><strong>TO BE ANNOUNCED</strong></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<p>The U of I Library Data Hub is a dedicated service location providing students, faculty, and staff with support in the areas of generative AI, geographic information systems, data sciences, data analysis and visualization, and research data management. Located in the Library's <a href="{{ '/about/maps.html#first-floor' }}">Map Room (First Floor, Rm 107)</a>, the Data Hub features specialized equipment, staff, and collaborative space available to all U of I patrons.</p>

<p>U of I community members are invited to get help with GIS, Git, R, Python, Excel, and data-related tools and information resources. They can also learn about AI policies and tools at the University, and work with Data Hub staff to think through whether AI can assist them with their work. Collaborative work areas with large displays are available for consultations and general use, as well as powerful desktop computer workstations.</p>

<p>Building on the Library's long history of curating and disseminating data collections under programs such as <a href="https://insideidaho.org/">INSIDE Idaho</a>, the Data Hub's mission is to strengthen students' knowledge, awareness, and techniques for accessing data and using it in transformative ways. With collaborative work areas focused on data analysis and visualization, and a service desk staffed by librarians, the Data Hub is a central place to connect with geospatial and data sciences support.</p>

<h2>People</h2>

{% for person in site.data.datahub_people %}
{% assign p = site.data.about_people | where: 'id',person.id | first %}
<div class="border rounded mt-3">
    <div class="row no-gutters">
        <div class="col-md-3 p-3">
            {% capture image_src %}{{ site.lib-media }}{% if p.image %}/directory/{{ p.image }}{% else %}/directory/tower_icon_gold_sq.png{% endif %}{% endcapture %}
            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ image_src }}" class="lazyload img-fluid rounded" alt="portrait of {{ p.last_name }}">
        </div>
        <div class="col-md-9 p-3">
            <h3><a href="{{ '/about/people/' | relative_url }}{{ p.id }}.html" title="View the profile for {{ p.last_name }}">{{ p.first_name }} {{ p.last_name }}</a></h3>
            <p>{{ person.datahub_title }} <br><a href="mailto:{{ p.email }}">{{ p.email }}</a></p>
            <p>{{ person.datahub_description }}</p>
        </div>
    </div>
</div>
{% endfor %}
