---
title: Special Collections and Archives
section: Special Collections
permalink: /special-collections/
layout: page
search: true
keywords: special collections; archives; Idaho history
description: "Landing page for Special Collections and Archives with links to search finding aids on Archives West, visit the reading room, and contact staff for research help."
page_nav:
    #parent:
    children:
      - /special-collections/description.html
      - /special-collections/searchtools.html
      - /special-collections/plan.html
      - /special-collections/about.html
page_callout: 
    title: Idaho Harvester
    text: "Interested in Idaho and U of I history? Follow Special Collection's blog, the Idaho Harvester, featuring unique materials and stories from our collections."
    link: https://harvester.lib.uidaho.edu/
    link-text: Visit Blog
    image: https://objects.lib.uidaho.edu/harvester/small/pg9-06-10a_sm.jpg
    image-alt: fisherman in a river with mountains in the background
    color: palouse
---

{% include feature/image.html img="https://www.lib.uidaho.edu/media/spec/carousel/spec_crop2.jpg" alt="1917 black and white panoramic photograph of the University of Idaho campus, featuring rolling hills and the College Gothic style administration building" %}

<p>Special Collections and Archives is a department within the University of Idaho Library that specializes in the acquisition, preservation, and accessibility of archival research materials that document the history and culture of Idaho and the University of Idaho.</p>

<p>Our materials freely accessible to the campus community and the public. Here's how to find materials: </p>

<div class="card mb-4 bg-lupine">
  <div class="card-body">
    <div class="text-center">
      <h2 class="h4 text-white">Search our finding aids on Archives West</h2>
      <form class="mt-4" role="search" action="https://archiveswest.orbiscascade.org/search.php" method="get">
        <div class="row g-2 justify-content-center">
          <div class="col-10 col-md-6"><input id="searchValue" class="form-control form-control-lg mb-2" name="q" type="search" placeholder="Search Archives West ..." aria-label="Search Archives West"></div>
          <input id="r" name="r" type="hidden" value="idu">
          <div class="col-10 col-md-2"><button class="btn btn-lg btn-pride-gold w-100 mb-2" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" aria-hidden="true"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg><span class="visually-hidden">Submit Archives West Search</span></button></div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 gy-4 gx-4 align-items-stretch mb-3">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="h4">Start Your Search Online</h2>
        <ul >
          <li><a href="{{ '/special-collections/searchtools.html' | relative_url }}">Research Tools</a></li>
          <li><a href="{{ '/special-collections/about.html#contact' | relative_url }}">Ask Us!</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="h4">Visit In Person</h2>
        <ul>
          <li><a href="{{ '/special-collections/plan.html#hours' | relative_url }}">Reading Room Walk-In Hours</a></li>
          <li><a href="{{ '/special-collections/plan.html' | relative_url }}">Schedule an Appointment</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="h4">Contact Us</h2>
        <p>Email: <a href="mailto:libspec@uidaho.edu">libspec@uidaho.edu</a><br>
          Phone: <a href="tel:+1-208-885-0845">(208) 885-0845</a><br></p>
      </div>
    </div>
  </div>
</div>

<div class="text-center mb-2">

  <a href="{{ '/special-collections/plan.html' | relative_url }}" class="btn btn-secondary my-2 mx-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" aria-hidden="true"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/></svg> Plan Your Visit</a>
  <a href="{{ '/special-collections/searchtools.html' | relative_url }}" class="btn btn-secondary my-2 mx-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16" aria-hidden="true"><path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/><path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/></svg> Research Tools</a>
  <a href="{{ '/special-collections/faq.html' | relative_url }}" class="btn btn-secondary my-2 mx-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16" aria-hidden="true"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247m2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/></svg> FAQ</a>
  <a href="{{ '/special-collections/donations.html' | relative_url }}" class="btn btn-secondary my-2 mx-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gift-fill" viewBox="0 0 16 16" aria-hidden="true"><path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A3 3 0 0 1 3 2.506zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43zM9 3h2.932l.023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9z"/></svg> Donate</a>
  <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=Y2u8fpJXGUqyCwS4JgSIU3fn1ZT2uFVAhbeq68ZolZtUQ0FVNEdKVEIyVFhaUFFWTlgxN1pUVjE3Qy4u" class="btn btn-secondary my-2 mx-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16" aria-hidden="true"><path d="M16 8c0 3.866-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/></svg> Give Us Feedback</a>

</div>

<div class="col">
  <div class="card h-100">
    <div class="card-body">
      <h2 class="h5">Looking for Downwinder/RECA documentation?</h2>
      <ul >
        <li>If you are seeking supplemental proof of residence documentation for Radiation Exposure Compensation Act (RECA or "Downwinder") cases, please fill out this form: <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=Y2u8fpJXGUqyCwS4JgSIUxaSEHQ0MBFJmCa2EIVFmhNURUQ4RjZZMFEzVjVRSjNFOEhNSTRKNk9ITC4u">Request for Assistance with RECA Claim</a>. You will be asked to provide the name of the person making the RECA claim, the name of the person you are seeking residence information for, the town in Idaho where they resided, the year or date range you require documentation for, and how you are planning to file your claim (by mail or online portal).</li>
      </ul>
    </div>
  </div>
</div>

<hr>

<h2>Idaho Harvester</h2>

<p class="mb-5">Latest post from the Harvester:</p>

{% include feature/harvester-item.html %}
