<!-- bootstrap js -->
<script src="{{ '/assets/main-web/lib/bootstrap.bundle.min.js' | relative_url }}"></script>
{% include js/header-js.html %}
<!-- analytics events -->
<!-- load other js -->
{% include js/current-hours-js.html %}
<script src="{{ '/assets/main-web/lib/lazysizes.min.js' | relative_url }}" async></script>
{% if layout.gallery == true or page.gallery == true %}<script src="{{ '/assets/main-web/lib/spotlight.bundle.js' | relative_url }}" ></script>{% endif %}
{% if page.table-id %}{% include js/table-basic-js.html %}{% endif %}
{% if page.chat-widget %}
    {% if page.chat-widget == "datahub" %}{% include components/lib-chat-widget-datahub.html %}
    {% else %}{% include components/lib-chat-widget.html %}{% endif %}
{%- endif -%}
{% if page.custom-foot or layout.custom-foot %}
{%- assign page_feet = page.custom-foot | split: ";" -%}
{%- assign layout_feet = layout.custom-foot | split: ";" -%}
{%- assign feet = page_feet | concat: layout_feet -%}
{% for f in feet %}{% include {{ f }} %}
{% endfor %}
{%- endif -%}
