<!-- bootstrap js -->
<script src="{{ '/assets/main-web/lib/bootstrap.bundle.min.js' | relative_url }}"></script>
<!-- analytics events -->
<!-- load other js -->
{% include js/current-hours-js.html %}
<script src="{{ '/assets/main-web/lib/lazysizes.min.js' | relative_url }}" async></script>
{% if layout.gallery == true or page.gallery == true %}<script src="{{ '/assets/js/spotlight.bundle.js' | relative_url }}" ></script>{% endif %}
{% if page.custom-foot or layout.custom-foot %}
{%- assign page_feet = page.custom-foot | split: ";" -%}
{%- assign layout_feet = layout.custom-foot | split: ";" -%}
{%- assign feet = page_feet | concat: layout_feet -%}
{% for f in feet %}{% include {{ f }} %}
{% endfor %}
{%- endif -%}
