/*  
    base - slight modifications to override base Bootstrap
    these values are configurable by editing base variables in main.scss
*/


/* bootstrap icons tweaks */

.bi {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -.125em;
    fill: currentcolor;
}
/*
.bi { 
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom; 
    overflow: hidden;
}
.icon-sprite {
    width: 1em;
    height: 1em;
    vertical-align: -0.1em;
}
*/
