<nav aria-label="Section Navigation" id="section-nav">
    <h2>{{ page.section }}</h2>
    <ul class="list-group rounded-0">
        {% if page.section_parent %}{% assign parent = site.html_pages | where: 'url', page.section_parent | first %}{% else %}{% assign parent = page %}{% endif %}
        {% assign section_children = parent.url | split: ',' | concat: parent.section_children %}
        {% for c in section_children %}
        {% assign c_page = site.html_pages | where: 'url', c | first %}
        <li class="list-group-item py-3{% if c_page.url == page.url %} active{% endif %}"{% if c_page.url == page.url %} aria-current="true"{% endif %}>
            <a href="{{ c_page.url | relative_url }}" class="w-100 d-flex justify-content-between stretched-link">
                <span>{{ c_page.title }}</span>
                {% unless c_page.url == page.url %}
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor text-dark" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                    </svg>
                </span>{% endunless %}
            </a>
        </li>
        {% endfor %}
          
    </ul>
</nav>
