<!doctype html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    {% include head.html %}
  </head>

  <body>
    <a id="skip-to-content" class="visually-hidden-focusable btn btn-lg btn-dark position-absolute top-0 start-0" href="#maincontent">Skip to main content</a>
    {% unless page.layout == 'floor-map' %}{% include header.html %}{% endunless %}
    
    {{ content }}
    
    {% unless page.layout == 'floor-map' %}{% include footer.html %}{% endunless %}
    {% include foot.html %}
  </body>

</html>