---
layout: default
---

<div class="container px-lg-5 pt-4">

    <main id="maincontent" role="main">
        <h1 class="page-title">{{ page.title }}</h1>
        
        {% include components/page-breadcrumbs.html %}

        <div class="row">
            <div class="col-md-7">
            {{ content }}
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                {% if page.section_parent or page.section_children %}
                {% include components/section-navigation.html %}
                {% endif %}
            </div>
        </div>
    </main>

    <div class="text-end mt-5 mb-2">
        <a href="#banner-home" class="btn btn-outline-clearwater"><span class="fas fa-arrow-up"></span> Back to Top</a>
    </div>
</div>
