---
layout: default
---
{% capture full_name %}{{ page.first_name }} {{ page.last_name }}{% endcapture %}

<div class="container px-lg-5 pt-4">

    <main id="maincontent" role="main">
        
        <ul class="breadcrumb text-uppercase">
            <li class="breadcrumb-item">
                <a class="text-secondary" href="{{ '/' | relative_url }}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-secondary" href="{{ '/about/directory.html' | relative_url }}">Staff Directory</a>
            </li>
        </ul>

        <div class="row">
            <div class="col-md-7">
                <div class="d-md-flex align-items-center">
                    <h1 class="mb-0">{{ full_name }}</h1>
                    {% if page.pronunciation_audio %}
                    <button type="button" class="btn btn-sm btn-outline-dark ms-3" id="play_pronunciation" title="play pronunciation audio">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi" viewBox="0 0 16 16">
                            <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"></path>
                            <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"></path>
                            <path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"></path>
                        </svg>
                        <span class="visually-hidden">play pronunciation audio</span>
                    </button>
                    <script> 
                        var audioElement = new Audio('{{ site.lib-media }}/directory/audio/{{ page.pronunciation_audio }}');
                        var playAudio = document.getElementById("play_pronunciation");
                        playAudio.addEventListener("click", handlePlayButton, false);
                        function handlePlayButton() {
                            audioElement.play();
                        }
                    </script>
                    {% endif %}
                </div>
                {% if page.pronouns %}<div class="ms-3">pronouns: {{ page.pronouns }}</div>{% endif %}
                <div class="row mt-4">
                    <div class="col-md-7">
                        {% assign titles = page.title | split: ";" %} 
                        {% for t in titles %}
                        {% if forloop.first %}<p class="h3"><strong>{{ t }}</strong></p>
                        {% else %}<p class="h4">{{ t }}</p>{% endif %}
                        {% endfor %}
                        {% assign liaison = site.data.about_liaisons | where: 'id', page.id | map: 'liaison_title' | join: '; ' %}
                        {% if liaison %}<p class="h4">{{ liaison }}</p>{% endif %}
                        {% if page.rank %}<p class="h4">{{ page.rank }}</p>{% endif %}
                        <hr>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th scope="row"><small>EMAIL</small></th>
                                    <td><a href="mailto:{{ page.email }}">{{ page.email }}</a></td>
                                </tr>
                                {% if page.phone %}<tr>
                                    <th scope="row"><small>PHONE</small></th>
                                    <td>{{ page.phone }}</td>
                                </tr>{% endif %}
                                {% if page.office %}<tr>
                                    <th scope="row"><small>OFFICE</small></th>
                                    <td>{{ page.office }}</td>
                                </tr>{% endif %}
                                <tr>
                                    <th scope="row"><small>DEPARTMENT</small></th>
                                    <td>{{ page.department }}</td>
                                </tr>
                                <tr>
                                    <th scope="row"><small>MAILING ADDRESS</small></th>
                                    <td>University of Idaho Library<br>
                                        875 Perimeter Drive MS 2350<br> Moscow, ID 83844-2350</td>
                                </tr>
                            </tbody>
                        </table>
                        {% if page.description %}
                        <hr>
                        {{ page.description | markdownify }}
                        {% endif %}
                        <p class="text-center">
                            {% if page.verso_id %}<a href="https://verso.uidaho.edu/esploro/profile/{{ page.verso_id }}" class="btn btn-outline-pride-gold m-2" >View VERSO profile</a>{% endif %}
                        </p>
                    </div>
                    <div class="col-md-5 p-2">
                        {% capture image_src %}{{ site.lib-media }}{% if page.image %}/directory/{{ page.image }}{% else %}/directory/tower_icon_gold_sq.png{% endif %}{% endcapture %}
                        <img src="{{ image_src }}" class="img-fluid" alt="portrait of {{ full_name }}">
                    </div>

                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <nav aria-label="Section Navigation" id="section-nav">
                    <h2>About</h2>
                    <ul class="list-group mb-5">
                        <li class="list-group-item py-3">
                            <a href="{{ '/about/' | relative_url }}" class="w-100 d-flex justify-content-between stretched-link">
                                <span>About the Library</span>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor text-dark" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="list-group-item py-3">
                            <a href="{{ '/about/directory.html' | relative_url }}" class="w-100 d-flex justify-content-between stretched-link">
                                <span>Staff Directory</span>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor text-dark" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                    </svg>
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>

    {% include components/back-to-top.html %}
</div>
